* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #444;
}

li {
  list-style: none;
}
a{
  text-decoration: none;
  color: #fff;
  background: #333;
  padding: 10px 20px;
  display: block;
  margin: 0.40rem;
}

main {
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
  background: #444;
  
  
}

#about {
  flex: 1;
  background: url('https://source.unsplash.com/collection/190727/1600x900') no-repeat center center/cover;
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  
}

#work {
  flex: 1;
  background: url('https://source.unsplash.com/daily') no-repeat center center/cover;
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

#contact {
  flex: 1;
  background: url('https://source.unsplash.com/1600x900/?nature,water') no-repeat center center/cover;
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}


@media(max-width:500px){
  #about{
    height: 50vh;
  }
  #contact {
    height: 50vh;
  }

  #work {
    height: 50vh;
  }

}